<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="user-aside.css" rel="stylesheet" type="text/css" />

    <title>Document</title>
</head>

<body>
    <section class="aside">
        <div class="user-aside">
        <nav>
            <div class="welcome">
                <h1 class="welcome-user">닉네임을입력하세</h1>
                <div class="user-img"><img src="/image/ahn.png"></div>
                <button class="icon icon-close close cursor:pointer">닫기</button>
            </div>
            <div class="board-list liststyle">
                <ul>
                    <li class="active-community"><a href="">개발톡</a></li>
                    <li><a href="">with</a></li>
                    <li class=""><a href="">스몰톡</a></li>
                </ul>
            </div>
            <div class="notice-list liststyle">
                <ul>
                    <li><a href="">공지사항</a></li>
                </ul>
            </div>
            <div class="mypage-list">
                <ul>
                    <li><a href="">마이페이지</a></li>
                    <li><a href="">나의 활동내역</a></li>
                    <li><a href="">신고당한 글</a></li>
                    <li><a href="">로그아웃</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </section>
</body>

</html>